
.andp-datepicker-container {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    width: 256px;
    overflow: hidden;
    position:absolute;
    z-index:1000;
    background: #fff;
}

.andp-body {
    padding: 0 8px 8px;
    border: solid 1px #ccc;
    border-top:0;

}

.andp-header {
    background: #2a5acc;
    padding: 10px 0px;
}

.andp-header select {
    padding: 6px 5px;
    border: 0;
    font-size: 14px;
    box-sizing: border-box;
}

.andp-month-select{
    margin-right:5px;
    width: 96px;
}

.andp-year-select{
    width: 65px;
}

.andp-header button {
    background: none;
    border: 0;
    color: #fff;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    margin-top: 0;
    font-size: 20px;
    box-sizing: border-box;
    width: 45px;
    text-align: center;
    outline: none !important;
}

.andp-prev {
    float: left;
}

.andp-next {
    float: right;
}

.andp-days-names div {
    width: 34px;
    float: left;
    text-align: center;
    font-size: 12px;
    color: #2a5acc;
    padding: 10px 0;
}

.andp-days-numbers {
    display: table;
    border-collapse: collapse;
    user-select: none;
}

.andp-column {
    display: table-row;
}

.andp-column div {
    display: table-cell;
    border: 1px solid #f1f1f1;
    width: 34px;
    height: 28px;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color:#000;
}

.andp-column div.day{
    cursor: pointer;

}

.andp-column .old-dates{
    color:#d2d2d2;
}

.andp-column div.selected {
    background:#2a5acc !important;
    color:#fff;
    border-color:#2a5acc !important;
}

.andp-column div.soft-select {
    background:#dedede;
    border-color:#dedede;
}

.andp-info {
    font-size: 12px;
    margin-top: 9px;
}

.andp-action-btns{
    text-align:right;
    margin-top:7px;
}

.andp-action-btns button{
    background: #28a745;
    border: 0;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    display:inline-block;
    margin-left:7px;
    cursor: pointer;
}