/*new*/

.faq-category h3 {
  color: var(--primary-color);
  font-size: 20px;
}

.template_faq {
  background: #edf3fe none repeat scroll 0 0;
}

.panel-group {
  background: #fff none repeat scroll 0 0;
  border-radius: 3px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
  padding: 30px;
}

#accordion .panel {
  border: medium none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 0 15px 10px;
}

#accordion .panel-heading {
  border-radius: 30px;
  padding: 0;
}

#accordion .panel-title a {
  background: var(--primary-color) none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px 12px 50px;
  position: relative;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

#accordion .panel-title a.collapsed {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
}

#accordion .panel-title a::after,
#accordion .panel-title a.collapsed::after {
  background: var(--primary-color) none repeat scroll 0 0;
  border: 1px solid transparent;
  border-radius: 50%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
  color: #fff;
  content: '\21A7';
  font-family: fontawesome;
  font-size: 25px;
  height: 55px;
  left: -20px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: -5px;
  transition: all 0.3s ease 0s;
  width: 55px;
}

#accordion .panel-title a.collapsed::after {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ddd;
  box-shadow: none;
  color: #333;
  content: ' \203A';
}

#accordion .panel-body {
  background: transparent none repeat scroll 0 0;
  border-top: medium none;
  padding: 20px 25px 10px 9px;
  position: relative;
}

#accordion .panel-body p {
  border-left: 1px dashed #8c8c8c;
  padding-left: 25px;
}

.faq-heading h3 {
  font-size: 30px;
  line-height: 2.5rem;
  margin: 3rem 0;
  font-weight: bold;
  color: var(--primary-color);
  display: block;
  position: relative;
}

.faq-heading h3:after {
  content: "";
  width: 115px;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  top: 45px;
  left: 0px;
}