.footer-img {
  margin-top: 4rem;
}

footer {
  background: var(--primary-color) !important;
  padding: 2rem;
  margin-top: -10rem;
}

footer img {
  width: 200px;
}

footer .div1 p {
  color: var(--white-color);
  margin-top: 2rem;
  letter-spacing: 1px;

}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
}

.social-buttons__button {
  margin: 10px 20px 0 0;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  border: 2px solid white;
  text-decoration: none;
}

.social-button:hover {
  text-decoration: none;
}

.social-button__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border-radius: 100%;
  background: none;
  text-align: center;
}

.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}

.social-button i {
  font-size: 18px;
  color: var(--white-color);
}

.social-button svg {
  height: 40%;
  width: 40%;
}

.social-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}

.social-button:focus,
.social-button:hover {
  color: #fff;
  border: none;
}

.social-button:focus::after,
.social-button:hover::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}

.social-button--facebook {
  color: #3b5999;
}

.social-button--facebook::after {
  background: #3b5999;
}

.social-button--instagram {
  color: rgb(251, 57, 88);
}

.social-button--instagram::after {
  background: radial-gradient(circle at 30% 107%,
      #fdf497 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285aeb 90%);
}

.social-button--youtube {
  color: rgb(255, 0, 0);
}

.social-button--youtube::after {
  background: rgb(255, 0, 0);
}

footer .links h3,
footer .location h3,
footer .div2 h3 {
  font-size: 18px;
  color: var(--white-color);
  position: relative;
  margin-bottom: 3rem;
}

footer .links h3:after,
footer .location h3:after,
footer .div2 h3:after {
  content: "";
  width: 45px;
  height: 3px;
  background: var(--white-color);
  position: absolute;
  top: 45px;
  left: 0;
}

footer .links ul a,
footer .div2 ul a {
  line-height: 2rem;
  color: var(--white-color);
}

footer .links a:hover,
footer .div2 a:hover {
  text-decoration: none;
}


.footer-inner-holder {
  display: flex;
  padding: 10px 0px;
  text-align: left;
}

.img-holder i {
  color: var(--white-color);
}

.footer-meta {
  margin-left: 20px;
}

.footer-meta .name {
  display: block;
  color: var(--white-color);
  line-height: 2;
}

.footer-meta .info {
  font-size: 14px;
  color: var(--white-color);
}

.footer-b {
  background: var(--primary-color);
}

.footer-b p {
  color: var(--white-color);
}