.filter-form label {
    font-size: 1.2rem;
    color: #777;
    padding: 0px;
}

.filter-form .form-check .form-check-label {
    font-size: 1rem;
    margin-left: 0.3rem;
    cursor: pointer;
}

.filter-form .form-check-input {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: -1.25rem;
}

.white-card {
    background: #fff;
    padding: 2rem;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.filter-form .form-check .badge {
    font-weight: 400;
    background: #f4f4f4;
}

.float-right {
    float: right !important;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 2;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.duration-silder {
    margin: 30px 0px;
}

h5 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
    padding: 15px 0px;
}

.dual-range {
    --range-size: 15px;
    --range-width: 150px;
    --handle-size: 1.2;
    height: var(--range-size);
    width: var(--range-width);
    background: #f2f2f2;
    border-radius: 50px;
    position: relative;
    user-select: none;
}

.dual-range .highlight {
    position: absolute;
    height: var(--range-size);
    width: calc( calc(var(--x-2) - var(--x-1)) + calc(var(--range-size) * var(--handle-size)));
    left: var(--x-1);
    background: #1b984d;
    z-index: 1;
    border-radius: 50px;
}

.dual-range .handle {
    width: calc(var(--range-size) * var(--handle-size));
    height: calc(var(--range-size) * var(--handle-size));
    background: #fff;
    position: absolute;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: grab;
}

.dual-range .handle:active {
    cursor: grabbing;
}

.dual-range .handle.left {
    left: var(--x-1);
}

.dual-range .handle.right {
    left: var(--x-2);
}

.dual-range .handle::after {
    content: "Days" attr(data-value);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}


/* 2 */

.dual-range2 {
    --range-size: 15px;
    --range-width: 150px;
    --handle-size: 1.2;
    height: var(--range-size);
    width: var(--range-width);
    background: #f2f2f2;
    border-radius: 50px;
    position: relative;
    user-select: none;
}

.dual-range2 .highlight {
    position: absolute;
    height: var(--range-size);
    width: calc( calc(var(--x-2) - var(--x-1)) + calc(var(--range-size) * var(--handle-size)));
    left: var(--x-1);
    background: #1b984d;
    z-index: 1;
    border-radius: 50px;
}

.dual-range2 .handle {
    width: calc(var(--range-size) * var(--handle-size));
    height: calc(var(--range-size) * var(--handle-size));
    background: #fff;
    position: absolute;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: grab;
}

.dual-range2 .handle:active {
    cursor: grabbing;
}

.dual-range2 .handle.left {
    left: var(--x-1);
}

.dual-range2 .handle.right {
    left: var(--x-2);
}

.dual-range2 .handle::after {
    content: "Days" attr(data-value);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}


/*  3*/

.dual-range3 {
    --range-size: 15px;
    --range-width: 150px;
    --handle-size: 1.2;
    height: var(--range-size);
    width: var(--range-width);
    background: #f2f2f2;
    border-radius: 50px;
    position: relative;
    user-select: none;
}

.dual-range3 .highlight {
    position: absolute;
    height: var(--range-size);
    width: calc( calc(var(--x-2) - var(--x-1)) + calc(var(--range-size) * var(--handle-size)));
    left: var(--x-1);
    background: #1b984d;
    z-index: 1;
    border-radius: 50px;
}

.dual-range3 .handle {
    width: calc(var(--range-size) * var(--handle-size));
    height: calc(var(--range-size) * var(--handle-size));
    background: #fff;
    position: absolute;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: grab;
}

.dual-range3 .handle:active {
    cursor: grabbing;
}

.dual-range3 .handle.left {
    left: var(--x-1);
}

.dual-range3 .handle.right {
    left: var(--x-2);
}

.dual-range3 .handle::after {
    content: "Days" attr(data-value);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}