.search-form {
  padding: 20px 20px 10px;
  margin-top: 10px;
  background: var(--white-color);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
}

#search-2 form label {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #ccc;
}

#search-2 form input[type="search"] {
  padding-left: 10px;
  border: none;
  flex-grow: 1;
}

#search-2 form input[type="search"]:focus {
  outline: none;
}

.search-form label a {
  background: var(--white-color);
}

/*Latest Blogs*/
#latest-blogs-section,
#archives,
#tag_cloud {
  background: var(--white-color);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.widget_recent_entries {
  padding: 20px 20px 10px 20px;
  margin-bottom: 10px;
}

.widget-archive,
.widget-tags {
  padding: 20px;
}

.widget h5 {
  display: block;
  margin-bottom: 30px;
  position: relative;
  font-weight: bold;
  color: var(--primary-color);
}

.widget h5:after {
  content: "";
  width: 30px;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  top: 30px;
  left: 0;
}

.post-image img {
  height: 80px;
  width: 100%;
}

.post-title h6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow-y: hidden;
  font-size: 18px;
  font-weight: bold;
}

.post-title h6 a {
  color: var(--primary-color);
  font-size: 14px;
}

.post-title h6 a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.posts a {
  color: var(--primary-color);
}

.posts a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.posted-on span i {
  color: var(--primary-color);
}

.widget-archive ul li a {
  color: var(--primary-color);
}

.widget-archive ul li a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.widget-tags ul li {
  display: inline;
}

.widget-tags ul li a {
  background: var(--primary-color);
  padding: 4px 8px;
  font-size: 12px;
  color: var(--white-color);
  border: 1px solid var(--primary-color);
}

.widget-tags ul li a:hover {
  text-decoration: none;
  background: var(--white-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.widget-tags {
  margin-bottom: 20px;
}

.posted-date a {
  font-size: 13px;
  margin-top: -7px;
}

@media (max-width: 1025px) {
  .post-image img {
    height: 70px;
    width: 100%;
  }
}

@media (max-width: 769px) {
  #main {
    margin-bottom: 20px;
  }

  .search-form {
    margin-top: 0;
  }

  .post-image img {
    height: 125px;
    width: 100%;
  }

  .post-title h6 {
    -webkit-line-clamp: 3;
    font-size: 18px;
  }
}

@media (max-width: 426px) {
  .post-image img {
    height: 100px;
    width: 100%;
  }

  .post-title h6 {
    font-size: 16px;
  }

  .posted-on span i {
    padding: 0;
  }
}

@media (max-width: 376px) {
  .post-image img {
    height: 80px;
    width: 100%;
  }

  .post-title h6 {
    font-size: 14px;
  }
}

@media (max-width: 321px) {
  .post-image img {
    height: 65px;
    width: 100%;
  }

  .post-title h6 {
    -webkit-line-clamp: 2;
  }
}