*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-family: arial;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.banner{
	background: url(../images/background.jpg);
	background-size: cover;
	height: 334px;
}
.container{
	width: 960px;
	margin: auto;
}
.logo{
	float: left;
	width: 179px;
	height: 113px;
	background: #fff;
	margin: 28px 0px;
	border-radius: 5px;
}
.logo img{
	padding: 13px 17px;
}
.searchbox{
	background: #6373a9;
	float: right;
	margin: 28px 0px;
	height: 34px;
	width: 186px;
	border-radius: 2px;
}
.searchbox input{
	height: 26px;
	width: 178px;
	margin: 4px 4px;
}
.clear{
	clear: both;
}
.line{
	width: 100%;
	height: 4px;
	background: #adcffd;
}
nav{
	background: url(../images/navbg.png);
	background-size: cover;
	line-height: 56px;
}
nav ul li{
	display: inline;
}
nav ul li a{
	color: #fff;
	padding: 15px;
}
nav ul li a:hover, .active a{
	background: url(../images/hover.png);
	border-radius: 5px;
	color: #6373a9;
	background-size: cover;
}
.reviews{
	margin: 45px 0px;
}
.item1:first-child{
	width: 300px;
	float: left;
	margin: 0px 30px 0px 0px;
}
.item1:nth-child(2){
	width: 300px;
	float: left;
	margin: 0px 30px 0px 0px;
}
.item1:nth-child(3){
	width: 300px;
	float: left;
}
.item1 h3{
	font-family: Goergia;
	font-size: 18px;
	color: #494c6d;
}
.item1-img{
	height: 135px;
	width: 300px;
	background-color: #ccc;
	margin: 15px 0px;
	padding: 5px;
	position: relative; 
}
.item1 img{
	height: 100%;
	width: 100%;
}
.text p{
	text-align: justify;
	padding: 15px 0px;
}
.item1-img:after{
	content: '';
	background: url(../images/shadows.png);
	position: absolute;
	left: 0;
	bottom: -20px;
	width: 100%;
	height: 29px;
}
.button{
	background: url(../images/readmore.png);
	border-radius: 3px;
	display: inline-block;
	color: #fff;
	font-size: 13px;
	padding: 5px 10px;
}
.button a{
	color: #fff;
}
.featured-trips{
	margin: 35px 0px;
}
.featured-left{
	float: left;
	width: 628px;
}
.featured-left h3, .featured-right h3{
	background: #33375f;
	color: white;
	font-weight: normal;
	padding: 15px 20px;
}
.featured-inner{
}
.featured-inner h6{
	margin: 35px 0px 5px 20px;
	font-size: 16px;
	font-weight: normal;
}
.featured-inner-left{
	float: left;
	background: #ccc;
	padding: 5px;
	margin-left: 20px;
}
.featured-inner-left img{	
	width: 215px;
	height: 140px;
}
.featured-inner-right{
	float: right;
}
.featured-inner-right p{
	font-family: Verdana;
	font-size: 13px;
	margin-left: 20px;
	line-height: 17px;
}
.featured-inner-right p span{
	color: #9bb0d7;
}
.trip-button{
	background: url(../images/readmore.png);
	border-radius: 3px;
	display: inline-block;
	color: #fff;
	font-size: 13px;
	padding: 5px 10px;
	margin: 10px 0px 0px 20px;
}
.trip-button a{
	color: #fff;
}
.featured-right{
	float: right;
	width: 298px;
}
.featured-notes{
	background: #33375f;
	width: 100%;
	margin-top: 5px;
	height: 550px;
	position: relative;
}
.featured-notes p{
	color: #33375f;
	background: #d0d3ea;
	padding: 10px 15px;
	display: inline-block;
	margin: 15px 0px 0px 20px;
	float: left;
	border-radius: 10px 10px 0px 0px;
}
.featured-notes ul li{
	float: right;
	display: inline-block;
	padding: 15px 20px 15px 15px;
}
.featured-notes i{
	color: #d0d3ea;
}
.dotted-line{
	border: none;
  	border-top :2px dotted #ccc;
 	color: #fff;
 	background-color: #fff;
	height: 1px;
	margin-top: 40px;
}
.himal{
	overflow: hidden;
}
footer{
	background: #33375f;
	height: 570px;
	margin-top: -6px;
	position: relative;
}
.left-menu{
	float: left;
	margin-left: 5px;
}
.left-menu h4{
	color: #fff;
	margin: 35px 0px 15px 0px;
}
.left-menu ul li{
	line-height: 20px;
}
.left-menu a{
	color: #777ba3;
}
.middle-menu{
	float: left;
	margin-left: 137px;
}
.middle-menu h4{
	color: #fff;
	margin: 35px 0px 15px 0px;
}
.middle-menu ul li{
	line-height: 20px;
}
.middle-menu a{
	color: #777ba3;
}
.menu-right{
	float: left;
	margin-left: 112px;
}
.right-up{
	border-bottom: 1px solid #000;
}
.right-up ul{
	padding-bottom: 40px;
}
.right-up ul li{
	display: inline;
	padding-right: 10px;
}
.right-up img{
	width: 70px;
	height: 70px;
	border: 5px solid #ccc;	
}
.right-up h4{
	color: #fff;
	margin: 35px 0px 20px 0px;
}
.right-down h4{
	color: #fff;
	margin-top: 20px;
}
.right-down ul{
	margin-top: 10px;
}
.right-down ul li{
	color: #777ba3;
	padding: 3px;
}
.right-down ul li a{
	color: #777ba3;
}
.bubble{
	background: url(../images/bubble.png);
    width: 64%;
    height: 70px;
    position: absolute;
    left: 285px;
    bottom: 73px;
}
.bubble h5{
	font-size: 13px;
	padding: 30px 66px;
}
.note1{
	margin: 0px 20px;
	background: #d0d3ea;
	height: 400px;
}
.lakhe img{
	width: 100%;
	height: 100%;
	border: 5px solid #ccc;
}
.note1 h5{
	color: #33375f;
	margin-top: -5px;
	font-size: 14px;
	padding: 10px 10px;
}
.featured-notes p:last-child{
	margin: 0px;
	border-radius: 0px;
	padding-bottom: 0px;
}
.button4{
	background: url(../images/readmore.png);
	border-radius: 3px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	padding: 5px 10px;
	margin: 0px 0px 15px 15px;
}
.forafter{
	background: #d0d3ea;
	margin: 0px 20px 10px 20px;
}
.forafter-line{
	width: 17%;
    height: 1px;
    background: rgba(0,0,0,0.2);
    position: absolute;
    left: 960px;
    bottom: -675px;
}
.afterline{
	background: #33375f;
	width: 100%;
	height: 230px;
}
.facebook img{
	margin-top: -146px;
    margin-left: 30px;
    background: #ebedf5;
    padding: 10px;
    margin-bottom: 15px;
}
.facebook h5{
	color: #33375f;
	background: #d0d3ea;
	margin: 0px 20px;
	padding: 10px;
	height: 195px;
}
.fbreview{
    padding:  0px 0px 0px 5px;
    margin: -160px 0px 0px 21px;
    background: #ebedf5;
    width: 257px;
    height: 150px;
}
.fbreviews img{
	padding: 0px 10px 0px 10px;
}